<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ name }} {{ firstname }}</title>
</head>
<body>
<div>
    <h1>well love {{ name }} {{ firstname }}</h1>
    <p>bonjour je suis developpeur application web</p>
</div>
</body>
</html>
